div.container {
    width: 90%;
    height: 650px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

div.container>div:first-child { /* form */
    position: relative;
    top: -150px;
    left: -20px;
    order: 2;
}

div.container>div:first-child>form input,
.form-control,
.form-select {
    margin-top: 8px;
    padding: 10px;
    border-radius: 15px;
    

}

div.container>div:first-child>form>h1 {
    margin-bottom: 30px;
}

#imgDiv {
    position: relative;
    top: 50px;
    order: 1;
    display: block;
    z-index: 4;
}

img {
    width: 75px;
    height: 75px;
}

.loginBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.upload-container {
    width: 300px;
    padding: 5px 0px 0px 0px;
    /* margin-top: 5px; */
    /* border: 2px dashed #ccc; */
    border-radius: 5px;
    text-align: center;
}

/* da upload-container wana 3aml l upload dayra */
/* .upload-container {
    width: 150px;
    height: 150px;
    padding: 5px 0px 0px 0px;
    border-radius: 50%;
    background-color: lightgray;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.fa-user {
    height: 150px;
    width: 150px;
    font-size: x-large;
    align-self: center;
    text-align: center;
    position: relative;
    top: 40px;
}

/* p lma kont 3aml dayra ll upload*/
.upload-container>p {
    position: relative;
    left: 30px;
}

.upload-container>p>span {
    display: inline-block;

}

/* Hide the actual file input */

.upload-container input[type="file"] {
    display: none;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #B8E0FE;
    color: #4A90E2;
    cursor: pointer;
    border-radius: 10px;
}

.upload-label:hover {
    background-color: #4A90E2;
    color: #B8E0FE;
}

.loginBtn>button {
    width: 130px;
    border-radius: 20px;
}

.loginBtn>p {
    font-size: smaller;
}

.signupForm {
    position: relative;
    top: 200px;
    /* overflow-y: scroll; */
}

.fa-angle-left {
    position: sticky;
    top: 25px;
    left: 25px;
    color: #1F3C63;
    cursor: pointer; 
    z-index: 3;

}
.btn-secondary{
    font-size: smaller;
    
}

@media (min-width: 800px) {

    div.container {
        width: 100%;
        height: 700px;
        margin-top: 100px;
        /* padding-top: 15px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    div.container>div:first-child>form {
        width: 75%;
        padding: 35px;
        /* height: 650px; */
    }

    div.container>div:first-child>form input,
    .form-control,
    .form-select {
        width: 75%;
        margin: 10px 50px;

    }

    .upload-label {
        width: 100%;
    }

    div.container>div:first-child {
        order: 1;
        /* width: 80px;  */
        position: relative;
        top: -50px;
        left: -120px;
        padding: 50px;
        width: 300px;
    }

    form {
        padding: 50px 10px;
        border-width: 0.5px;
        border-radius: 20px;
        background-color: white;
        overflow-y: scroll;
        /* order: 1; */

    }
    .LoginForm{
        overflow-y: unset;

    }

    #imgDiv {
        order: 2;
        position: relative;
        top: -50px;
        /* left: 20px; */
        border-radius: 10px;
        width: 50%;
    }

    img {
        width: 400px;
        height: 400px;
    }

    /* .imgDivClass{
        display: none;
    } */
    select,
    textarea {
        width: 75% !important;
    }

    textarea {
        resize: none !important;
        height: 200px !important;
    }

    .fa-solid {
        display: none;
        top: -25px;
        left: -25px;
    }

    .signupForm {
        position: relative;
        top: 30px;
        padding-top: 150px !important;

        height: 700px;
        /* overflow-y: scroll; */
    }

    .upload-container {
        background-color: #F2F6FA;
    }
}